<HTMLQuestion
  xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2011-11-11/HTMLQuestion.xsd"
>
  <HTMLContent>
    <![CDATA[
      <!DOCTYPE html>
      <html>
        <head>
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
          <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
          />
          <script
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"
          ></script>
          <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"
          ></script>
          <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"
          ></script>
          <script
            type="text/javascript"
            src="https://s3.amazonaws.com/mturk-public/externalHIT_v1.js"
          ></script>
        </head>
        <body>
          <div class="container">
            <h1>
              Write Questions about {{ domain }}s <br />
              <small class="text-muted">
                (Please only take 1 of these HITs)
              </small>
            </h1>

            <section id="instructions">
              <div class="card">
                <div id="instructions-header" class="card-header">
                  <h2>
                    Instructions
                    <button
                      class="btn btn-info float-right"
                      type="button"
                      data-toggle="collapse"
                      data-target="#instructions-body"
                      aria-expanded="false"
                      aria-controls="instructions-body"
                    >
                      Toggle
                    </button>
                  </h2>
                </div>
                <div id="instructions-body" class="card-body collapse">
                  <p>
                    Please write 10 questions you might ask about a {{ domain }}.
                    Imagine a friend just read the Wikipedia page for a new
                    {{ domain }}, what might you ask?
                  </p>
                  <p>
                    Use the phrase &ldquo;{{ domain_blank }}&rdquo; in place of
                    this imaginary {{ domain }}'s name.
                  </p>
                  <p>
                    Finally, write general questions which could apply to
                    different {{ domain }}s. Do <strong>not</strong> write
                    questions that apply only to a specific {{ domain }}
                    (e.g. &ldquo;{{ too_specific_domain }}&rdquo;).
                  </p>
                  <p>
                    <strong>NOTE!</strong>: <em>Different instances of this
                    HIT ask for different kinds of questions</em>, for
                    example, yes/no vs single-word answers. <strong>Please
                    check the question format before writing your
                    questions, every time you accept this
                    HIT</strong>. You'll find the question format in the
                    <strong>Task</strong> section.
                  </p>
                </div>
              </div>
            </section>

            <section id="tips-and-gotchas">
              <div class="card">
                <div id="tips-and-gotchas-header" class="card-header">
                  <h2>
                    Tips &amp; Gotchas
                    <button
                      class="btn btn-warning float-right"
                      type="button"
                      data-toggle="collapse"
                      data-target="#tips-and-gotchas-body"
                      aria-expanded="false"
                      aria-controls="tips-and-gotchas-body"
                    >
                      Toggle
                    </button>
                  </h2>
                </div>
                <div id="tips-and-gotchas-body" class="card-body collapse">
                  <ul>
                    <li>
                      Check the question format (specified in the
                      <strong>Task</strong> section) before writing your
                      questions.
                    </li>
                    <li>
                      Choose questions which do <strong>not</strong> have the
                      same answer for every {{ domain }} (such as
                      &ldquo;{{ domain_same_answer }}&rdquo;).
                    </li>
                    <li>
                      Make your questions <em>specific</em>
                      and <em>concrete</em> rather than open-ended or
                      subjective. For example, &ldquo;{{ domain_concrete }}&rdquo; is good,
                       while &ldquo;{{ domain_vague }}&rdquo; is bad.
                    </li>
                    <li>
                      Do <strong>not</strong> write questions that compare or
                      involve multiple {{ domain }}s. For example, avoid
                      questions like &ldquo;{{ domain_comparison_bad }}&rdquo;.
                    </li>
                    <li>
                      <strong>
                        Please try and make your questions as diverse as
                        possible.
                      </strong>
                    </li>
                  </ul>
                </div>
              </div>
            </section>

            <section id="examples">
              <div class="card">
                <div id="examples-header" class="card-header">
                  <h2>
                    Examples
                    <button
                      class="btn btn-success float-right"
                      type="button"
                      data-toggle="collapse"
                      data-target="#examples-body"
                      aria-expanded="false"
                      aria-controls="examples-body"
                    >
                      Toggle
                    </button>
                  </h2>
                </div>
                <div id="examples-body" class="card-body collapse">
                  <h3>Good Examples</h3>
                  <ul>
                    {% for example in examples %}
                    <li>{{ example }}</li>
                    {% endfor %}
                  </ul>
                  <h3>Bad Examples</h3>
                  <dl>
                    <dt>
                      {{ domain_too_specific_question }}
                    </dt>
                    <dd>
                      (Reason) The question refers to a specific {{ domain }}.
                      Replace {{ domain_too_specific_fix }}.
                    </dd>
                    <dt>
                      {{ domain_same_answer_question }}
                    </dt>
                    <dd>
                      (Reason) The question has the same answer for every
                      {{ domain }}. Ask questions that have different
                      answers for different {{ domain }}s.
                    </dd>
                    <dt>
                      {{ domain_plural_question }}
                    </dt>
                    <dd>
                      (Reason) This question asks about multiple {{ domain }},
                      rather than asking about an individual {{ domain }}. 
                      Instead ask &ldquo;{{ domain_plural_fix }}&rdquo;.
                    </dd>
                    <dt>
                      {{ domain_subjective_question }}
                    </dt>
                    <dd>
                      (Reason) The answer to this question is subjective, and
                      would be different for different people.
                    </dd>
                    <dt>
                      {{ domain_comparison_question }}
                    </dt>
                    <dd>
                      (Reason) This question compares {{ domain }}s. Instead
                      ask a specific question about a {{ domain }}, such as
                     &ldquo;{{ domain_comparison_fix }}&rdquo;.
                    </dd>
                  </dl>
                </div>
              </div>
            </section>

            <section id="task">
              <div class="card">
                <div id="task-header" class="card-header">
                  <h2>
                    Task
                    <button
                      class="btn btn-primary float-right"
                      type="button"
                      data-toggle="collapse"
                      data-target="#task-body"
                      aria-expanded="false"
                      aria-controls="task-body"
                    >
                      Toggle
                    </button>
                  </h2>
                </div>
                <div id="task-body" class="card-body collapse show">
                  <div class="row">
                    <div class="col-md-12">
                      <p>
                        Make sure to read the <strong>Instructions</strong>,
                        <strong>Tips &amp; Gotchas</strong>, and
                        <strong>Examples</strong> above if you haven't.
                      </p>
                      <p>
                        The following images are to help you get
                        inspired!
                      </p>
                    </div>
                    {% for image in images %}
                    <div class="col-md-4 my-2">
                      <img
                        class="img-responsive"
                        src="{{ image }}"
                        style="width:100%;height:100%;"
                      />
                    </div>
                    {% endfor %}
                    <div class="col-md-12">
                      <br />
                      <p>
                        Please write questions below.
                      </p>
                      <p>
                        <strong>Question Format</strong>: The answers to your questions should
                        {{ output_format }}.
                      </p>
                      <form
                        name="mturk_form"
                        method="post"
                        id="mturk_form"
                        action="/mturk/externalSubmit"
                      >
                        <input
                          type="hidden"
                          value=""
                          name="assignmentId"
                          id="assignmentId"
                        />
                        <input
                          type="hidden"
                          value="{{ domain }}"
                          name="domainName"
                          id="domainName"
                        />
                        {% for idx in range(0, 10) %}
                        <div class="form-group">
                          <label for="q{{ idx }}">
                            Question {{ idx + 1 }}
                          </label>
                          <input
                            id="q{{ idx }}"
                            class="form-control"
                            type="text"
                            name="q{{ idx }}"
                            required="required"
                            pattern="^.* {{ domain_blank }}[\.|\s|\?]?.*$"
                            title="Please re-read the instructions"
                            oninvalid="this.setCustomValidity('Please Follow Question Instructions (include {{ domain_blank }})')"
                            onchange="try{setCustomValidity('')}catch(e){}"
                            oninput="setCustomValidity(' ')"
                          />
                        </div>
                        {% endfor %}
                        <input
                          id="submitButton"
                          class="btn btn-primary"
                          type="submit"
                          value="Submit"
                        />
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <script language="Javascript">
              turkSetAssignmentID();
            </script>
          </div>
        </body>
      </html>
    ]]>
  </HTMLContent>
  <FrameHeight>900</FrameHeight>
</HTMLQuestion>
